
.cv {
position: relative;
height: 1054px;
width: 816px;
left: -2.842170943040401e-14px;
top: 0px;
border-radius: 0px;
background: rgba(255, 255, 255, 1);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.coluna {

height: 1054px;
width: 340px;
left: 0px;
top: 0px;
border-radius: 0px;
background: rgba(60, 60, 60, 1);
}

.coluna h1 {

position: relative;
width: 204px;
height: 68px;
left: 68px;
top: 272px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 39px;
display: flex;
align-items: center;
letter-spacing: 0.06em;


color: #FFFFFF;




}  
