
.coluna {
    
    position: absolute;
    width: 340px;
    height: 1054px;
    left: 0px;
    top: 0px;
    background-color: #3C3C3C
    ; 
}
  
.title {
    font-size: 80px;
    color: #fff;
}

.coluna title {
    font-size: 80px;
    color: #fff;
    margin: 16px 0;
    font-size: 39px;
}