
.cv {
    position: relative;
    height: 1054px;
    width: 816px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
}

.coluna {
    height: 1054px;
    width: 340px;
    left: 0px;
    top: 0px;
    background: rgba(60, 60, 60, 1);
    padding: 60px;
}

.coluna h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-bottom: 14px;
    white-space: nowrap;
}

.img1 {
    position: relative;
    height: 250px;
    margin-bottom: 18px;
}

.informacoes {
    position: relative;
    margin-bottom: 25px;
}

.informacoes span {
    color: #6CD0DB;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}


.informacoes p {
    font-family: Crimson Text;
    font-size: 16px;
    line-height: 22px;
    color: #D0D0D0;
}

.separador {
    position: relative;
    height: 3px;
    background: #6CD0DB;
    margin-left: -60px;
    margin-right: -60px;
    margin-top: 50px;
}

.perfil h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-top: 90px;
}

.perfil p {
    font-family: Crimson Text;
    font-size: 16px;
    line-height: 22px;
    color: #D0D0D0; 
}

.colunadir {
    
}


.colunadir h1 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #6CD0DB;
    white-space : nowrap;
    margin-top: 120px;
    margin-left: 70px;
    margin-bottom: 8px;
}

.colunadir p {

position: relative;
font-family: Crimson Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
text-transform: uppercase;
color: #3C3C3C;
white-space : nowrap;
margin-left: 70px;
margin-bottom: 10px;

}



.expec h2 {
position: relative;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 39px;
letter-spacing: 0.06em;
color: #6CD0DB;
margin-bottom: 26px;
margin-left: 70px;
margin-top: 75px;


    
}

.expec p {
    position: relative;
    font-family: Crimson Text;
    font-weight: normal;
    font-size: 16px;
    color: #3C3C3C;
    white-space: nowrap;
    line-height: 32px;
    text-transform: capitalize;

}

.item {
    position: relative;
    font-family: Crimson Text;
    margin: 5px;
	background: rgb(8, 8, 8);
	text-align: center;
	font-size: 16px;
    position: relative;
    Width:10px;
    Height:10px;
    flex-wrap: wrap;
    margin-left: 50px;

}